/* fonturi mi$to */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.container {
    font-family: "Inter", serif;
}


.channel-list-container {
    max-height: 400px; /* inaltime fixata pentru containerul de canale */
    overflow-y: auto; /*asta e ca sa creezi sidebar-ul*/
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.moderators-container,
.users-container {
    max-height: 150px; /* inaltime fixata pentru containerul de canale */
    overflow-y: auto; /*asta e ca sa creezi sidebar-ul*/
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.card {
    display: flex;
    flex-direction: column;
}

    .card .d-flex {
        flex-wrap: nowrap;
    }

.card-text {
    margin-bottom: 20px;
}

.btn {
    margin: 2px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

.safe-btn{
    background-color: var( --secondary-color);
    color: #f9f9f9;
}

    .safe-btn:hover {
        background-color: var( --accent-color);
    }

.danger-btn {
    background-color: var( --dark-accent-color);
    color: #f9f9f9;
}

    .danger-btn:hover {
        background-color: var( --accent-color);
    }


.display-username {
    font-size: 16px;
}

.workspace-info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.left-section {
    flex: 0 0 60%;
    max-width: 60%;
}

.right-section {
    flex: 0 0 40%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section-title {
    font-size: 1.1rem;
    text-align: center;
    background-color: #d1e7dd;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: #f9f9f9;
}

.section-title-workspace {
    font-size: 1.3rem;
    text-align: center;
    background-color: #d1e7dd;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: #f9f9f9;
}

.last-edited {
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    background-color: var(--accent-color);
    color: #f9f9f9;
}

.workspace-info-card {
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
}

    .workspace-info-card .card-body .d-flex {
        padding: 0 10px;
    }

.channel-buttons {
    display: flex;
    gap: 10px;
    padding-right: 10px;
}

.channel-name {
    max-width: 70%; /* asta e ca sa nu se bage numele canalului peste butoane (daca e foarte lung) */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: var( --accent-color);
    color: #f9f9f9;
}

    .channel-name:hover {
        background-color: var( --secondary-color);
    }

.channel-edit, .channel-delete {
    background-color: var( --accent-color);
    color: #f9f9f9;
}

    .channel-edit:hover {
        background-color: var( --secondary-color);
    }

    .channel-delete:hover {
        background-color: var( --secondary-color);
    }

.moderator-buttons, .user-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.promote-btn, .demote-btn{
    background-color: var( --secondary-color);
    color: #f9f9f9;
}

    .promote-btn:hover {
        background-color: var( --accent-color);
    }

    .demote-btn:hover {
        background-color: var( --accent-color);
        color: #f9f9f9;
    }

.remove-btn {
    background-color: var( --dark-accent-color);
    color: #f9f9f9;
}

.remove-btn:hover {
    background-color: var( --accent-color);
}

.channel-add {
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
    background-color: var( --accent-color);
    color: #f9f9f9;
}

    .channel-add:hover {
        background-color: var( --secondary-color);
        color: #f9f9f9;
    }